#message-box {
	width: 600px;
	height: 80px;
	font-family: Arial;
	font-size: larger;
	resize: none;
	float: left;
}

#send-btn {
	width: 80px;
	height: 85px;
}

#movement-joystick-div {
	position: absolute;
	top: 100px;
	width: 400px;
	height: 400px;
	outline: auto;
}

#camera-joystick-div {
	position: absolute;
	top: 100px;
	left: 412px;
	width: 400px;
	height: 400px;
	outline: auto;
}
